/* Exhibition Title */
.exhibition-title {
    background-color: var(--color-black);
    color: var(--color-blue);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.2vw;
    margin: 0 8rem 0 8rem;
    position: relative;
    text-align: left;
    font-size: 1em;
    z-index: 800;
}

/* Main Content Card */


/* Define the animation */
@keyframes slideIn {
    from {
        margin-top: -30rem;
    }
    to {
        margin-top: -4rem;
    }
}

/* Apply the animation */
.content-card {
    width: 50%;
    max-width: 55rem;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    padding: 2vh 2rem 1.5rem 2rem;
    border-radius: 0 3rem 0 0;
    position: relative;
    margin: -22rem auto auto auto; /* Start at -22rem */
    z-index: 900;
    border: 1px solid var(--color-black);
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    word-break: break-word;
    overflow-wrap: break-word;
    
    /* Animation */
    animation: slideIn 1.5s ease-out forwards;
    animation-delay: 0.3s; /* Small delay to ensure rendering */
}

/* Header Section */
.header-section {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    text-align: left;
    align-items: baseline;   
    hyphens: none;
}

.header-section h1,
.header-section .dates {
    font-family: var(--font-heading);
    font-size: 5rem;
    color: var(--color-black);
    line-height: 4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.dates {
    text-align: right;
}

/* Number Sequence */
.number-sequence {
    display: flex;
    gap: 0.5rem;
    font-size: 1.4rem;
    font-family: var(--font-regular);
    font-weight: bold;
    color: var(--color-black);
    margin-bottom: 1rem;
}

.number-sequence span {
    cursor: pointer;
   
}

.number-sequence span.active {

    text-decoration: underline;
    color: var(--color-black);
}

.image-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1.6 / 1;
    /* margin: 0 auto 3rem auto; */
    overflow: visible;
}

.featured-img,
.decorative-overlay {
    position: absolute;
    top: 1%; left: 1%;
    width: 98%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 2rem;
    z-index: 1;
}

.featured-img {
    height: 94%;
}

.decorative-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 115%; 
    height: auto;
    transform: translate(-50%, -45%);
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    z-index: 2;
}


/* Content Section */
.bio,
.content-section {
    font-size: 1.2rem;
    line-height: 1.2em;
    font-family: var(--font-main);
    color: var(--color-black);
    text-align: justify;
    padding: 0 1.2rem 0 1.2rem;
}

.bio {
    padding: 0;
}

.content-section p {
    margin-bottom: 1rem; /* Adjust paragraph spacing */
}
/* Artist Section */
.artist-section {
    text-align: justify;
    margin: 2rem 0 3rem 0;
}

/* Wrapper for Name and Stars */
.name-stars-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-bottom: 2rem;
}

/* Artist Name Styling */
.artist-name {
    font-size: 4rem;
    font-weight: bold;
    line-height: 3.6rem;

}

/* Star Icons */
.artist-stars {
    display: flex;
    gap: 0.5rem;
}

.artist-stars img {
    width: 3rem;
    height: auto;
}

.artist-circles {
    display: flex;
    gap: 0.5rem;
}

.artist-circles img {
    width: 13.2rem;
    height: auto;
}
.new-feature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensures it fits inside content-card */
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border: 2px solid var(--color-black);
    border-radius: 2.1rem;
    margin: 1rem auto; /* Keeps it centered */
}

.new-feature-image {
    width: 100%;
    max-width: 100%; /* Prevents it from overflowing */
    height: auto;
    object-fit: contain; /* Ensures the whole image is visible */
    object-position: center;
    border-radius: 2.1rem;
}

.dates-mobile {
    display: none;
}

/* Mobile styles for screens up to 900px */
@media (max-width: 1000px) {
    .content-card {
      width: auto;
      padding: 4.6rem 1rem 1rem 1rem;
      margin: auto auto 3rem auto;
      border-radius: 0 calc(18rem - 20vw) 0 0;
      border: 2px solid var(--color-black);
    }
  
    .content-section {
      width: auto;
    }
  
    .header-section h1 {
      font-size: 2rem;
      line-height: 2rem;
      max-width: 75vw;
    }
  
    .header-section .dates {
      font-size: 2rem;
    }
  
    .exhibition-title {
      display: none;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
  
    .back-button {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      color: var(--color-black);
      font-size: 1.2rem;
      z-index: 900;
      background-color: var(--color-white);
      padding: 0.3rem 2vw 0.3rem 100vw;
      border: 1px solid var(--color-black);
    }
  
    .image-wrapper {
        aspect-ratio: 1.2 / 1;
        overflow: hidden;
        border-radius: 2.1rem;
        border: 2px solid var(--color-black);
        width: 100%;
        position: relative;
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      
      .featured-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2rem 2rem 0 0;
        display: block;
        top:0;
        left: 0;
      }
      
      .dates-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: var(--font-heading);
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0.4rem 1rem;
        border-top: 2px solid var(--color-black);
        border-radius: 0 0 2.1rem 2.1rem;
        background-color: var(--color-white);
        position: relative;
        z-index: 2;
      }
      
  
    .decorative-overlay {
      display: none;

    }

  
    .dates {
      display: none;
    }
  
    .artist-stars img {
      width: 1.5rem;
      height: auto;
    }
  
    .artist-circles img {
      width: 10rem;
      height: auto;
    }
  
    .number-sequence {
      margin-bottom: 1rem;
      margin-top: 0.5rem;
      display: flex;
      flex-wrap: nowrap;
      white-space: nowrap;
      overflow-x: auto;
    }
  
    .number-sequence span {
      font-size: 1.4rem;
    }
  
    .bio,
    .content-section {
      font-size: 1.2rem;
      padding: 0;
    }
  
    .artist-name {
      font-size: 2rem;
    }
  
    main {
      z-index: auto;
      width: 96vw;
      max-width: auto;
    }
    
    .decorative-svg {
        display: none;
    }
    
    .dates {
        display: none;
    }
    .featured-image {
        height: auto;
        aspect-ratio: 1.2 / 1;
        overflow: visible;
        border: 2px solid var(--color-black);
        border-radius: 2.1rem;
        max-width: 100%;
    }
    .number-sequence {
        margin-bottom: 1rem;
        margin-top: 0.5rem;
        display: flex;
        flex-wrap: nowrap; /* Prevents wrapping */
        white-space: nowrap; /* Ensures numbers stay on one line */
        overflow-x: auto; /* Allows scrolling if content overflows */
    }
    .number-sequence span {
        font-size: 1.4rem;
    }
    .featured-image img {
        border-bottom: 2px solid var(--color-black);
        border-radius: 2rem 2rem 0 0;
    }
    .bio,
    .content-section {
        font-size: 1.2rem;
        padding: 0;
    }
    
    .artist-name {
        font-size: 2rem;
    }
    .back-button {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        color: var(--color-black);
        font-size: 1.2rem;
        z-index: 900; 
        background-color: var(--color-white);
        padding: 0.3rem 2vw 0.3rem 100vw;
        border: 1px solid var(--color-black);
    }
    
    .dates-mobile {
        display: flex;
        justify-content: space-between; 
        font-family: var(--font-heading);
        font-size: 1.2rem;
        font-weight: bold;
    }


    .exhibition-title {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
}