/* Global Variables */
:root {
    --color-black: #333;
    --color-white: #fff;
    --color-blue: #6699FF;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    --font-main: "Helen2-Regular", sans-serif;
    --font-heading: "Helen", sans-serif;
    --font-light: "Helen-Light", sans-serif;
}
/* Font Faces */
@font-face {
    font-family: 'Helen';
    src: url('/fonts/Helen.otf') format('opentype');
    font-weight: 700; /* Bold weight for headings */
}

@font-face {
    font-family: 'Helen2-Regular';
    src: url('/fonts/Helen2\ Bg\ Regular.otf') format('opentype');
    font-weight: 400; /* Regular weight for body text */
}

@font-face {
    font-family: 'Helen-Light';
    src: url('/fonts/Helen-Bg-Light.otf') format('opentype');
    font-weight: 300; /* Light weight for subtle text */
}
/* ////////////////////////// RESET //////////////////////////////// */
                /* Remove Scroll Bars Everywhere */
* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
                /* Reset and Box Sizing */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
/* ////////////////////////// BODY SETUP //////////////////////////////// */
body {
    font-family: var(--font-main);
    background-color: var(--color-white);
    color: var(--color-black);
    overflow-x: hidden;
    height: 100%;    
}

html {
    height: 100%;
}
main {
    width:84vw; /* to not show  under the side  deco svg */
    text-align: center;
    z-index: 420;
    margin-bottom: 3.2rem;
}
/* Main Content */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
    margin-top: 0;
}
/* Header */
header {
    width: 100%;
    position: sticky;
    top: 0; /* Ensures header sticks at the top */
    z-index: 1000;
    background-color: var(--color-white);
}
/* Ticker */
.ticker-wrap {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    padding: 0.5rem 0;
    z-index: 1100;
}
.ticker {
    display: flex;
    animation: marquee 30s linear infinite;
}
.item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 1rem;
    color: var(--color-black);
    font-weight: bold;
    line-height: 2rem;
}
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
/* Navigation */
nav.main-nav {
    width: 100%;
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 2.3rem;
    z-index: 900;
}
.nav-underline {
    width: 100%;
    height: 0.5rem;
    position: relative;
    background-color: var(--color-white);
    border-bottom: 2px solid var(--color-black);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}
.logo-box {
    width: 8.36rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
}
.logo-box img {
    height: 100%;
    width: auto;
}
.logo-box-right img {
    transform: scaleX(-1);
}
.overlay-text-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(5%) translateY(-33%);
    color: var(--color-blue);
    font-size: 2.8rem;
    font-weight: bold;
    pointer-events: none;
    text-align: left;
    -webkit-text-stroke: 0.5px var(--color-black);
    z-index: 1300;
}
.overlay-text-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(-5%) translateY(-33%);
    color: var(--color-blue);
    font-size: 2.8rem;
    font-weight: bold;
    pointer-events: none;
    text-align: right;
    -webkit-text-stroke: 0.5px var(--color-black);
    z-index: 1300;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.nav-links a:hover {
    color: var(--color-blue);
}


.nav-links a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.125rem;
    margin: 0 8%;
    text-transform: uppercase;
    position: relative;
    transition: color 0.3s ease;
}

.nav-links a:before {
    content: '●';
    color: var(--color-blue);
    font-size: 1.5rem;
    position: absolute;
    left: -1.2rem;
    top: 40%;
    transform: translateY(-45.3%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-links a:hover:before {
    opacity: 1;
}

/* Flex setup for basedof bg */
.flex-bg {
    display: flex;

}

.flex-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.flex-righ {
    pointer-events: none;
    z-index: 800;
}

.flex-left {
    pointer-events: none;
    z-index: 800;
}






/* Exhibition List */
.list-container {
    list-style: none;
    padding: 0;
    /* margin: 0  2rem 0 2rem; Is not see  below the svg side deco */
    width: 100%;
}

.list-item {
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease, border 0.3s ease;
    padding: 4rem 0;
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
}

.list-item:hover {
    background-color: var(--color-black);
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
}

.list-link {
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: var(--color-black);
    font-weight: bold;
    font-size: 1.2rem;
    justify-content: center;
    position: relative;
    transition: color 0.3s ease;
}

.list-item:hover .list-link {
    color: var(--color-blue);
}

.bullet-point {
    color: transparent; 
    margin-right: 0.5rem;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.list-item:hover .bullet-point {
    color: var(--color-blue);
}

