/* Global Variables */
:root {
    --color-black: #333;
    --color-white: #fff;
    --color-blue: #6699FF;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.36);
    --font-regular: "Helen2-Regular", sans-serif;
    --font-heading: "Helen", sans-serif;
    --font-main: "Helen-Light", sans-serif;
}
/* Font Faces */
@font-face {
    font-family: 'Helen';
    src: url('/fonts/Helen-Bg-Light.otf') format('opentype');
    font-weight: 600; /* Bold weight for headings */
}

@font-face {
    font-family: 'Helen2-Regular';
    src: url('/fonts/Helen2\ Bg\ Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Helen-Light';
    src: url('/fonts/Helen-Bg-Light.otf') format('opentype');
}
/* ////////////////////////// RESET //////////////////////////////// */
                /* Remove Scroll Bars Everywhere */
* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
                /* Reset and Box Sizing */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
/* Selection */
*::selection {
    background: var(--color-blue);
    color: var(--color-white);
    text-shadow: rgb(255, 255, 255) 1px 0 1px;

  }
  *::-moz-selection {
    background: var(--color-blue);
    color: var(--color-white);
  }
  *::-webkit-selection {
    background: var(--color-blue);
    color: var(--color-white);
  }



/* ////////////////////////// BODY SETUP //////////////////////////////// */
body {
    font-family: var(--font-main);
    background-color: var(--color-white);
    color: var(--color-black);
    overflow-x: hidden;
    height: 100%;    
}

html {
    height: 100%;
}
main {
    width:100%; /* to not show  under the side  deco svg */
    text-align: center;
    z-index: 420;
    margin-bottom: 3.2rem;
}
/* Main Content */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
    margin-top: 0;
}
/* Header */
header {
    width: 100%;
    position: sticky;
    top: 0; /* Ensures header sticks at the top */
    z-index: 1000;
    background-color: var(--color-white);
}
/* Ticker */
.ticker-wrap {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    /* padding: 0.5rem 0; */
    z-index: 1300;
}
.ticker {
    display: flex;
    animation: marquee 30s linear infinite;
}
.item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 1.2em;
    color: var(--color-black);
    line-height: 2rem;
}
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
/* Navigation */
nav.main-nav {
    width: 100%;
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 2.3rem;
    z-index: 900;
}
.nav-underline {
    width: 100%;
    height: 0.3rem;
    position: relative;
    background-color: var(--color-white);
    border-bottom: 2px solid var(--color-black);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}
.logo-box {
    width: 8.36rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
}
.logo-box img {
    height: 100%;
    width: 100%;
}
.logo-box-right {
    justify-content: right;
}

.logo-box-right img {
    transform: scaleX(-1);

}
.overlay-text-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(0%) translateY(-40%);
    color: var(--color-blue);
    font-size: 3.8rem; 

    pointer-events: none;
    text-align: left;
    -webkit-text-stroke: 0.5px var(--color-black);
    z-index: 1300;
}
.overlay-text-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(0%) translateY(-40%);
    color: var(--color-blue);
    font-size: 3.6rem;

    pointer-events: none;
    text-align: right;
    -webkit-text-stroke: 0.5px var(--color-black);
    z-index: 1300;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.nav-links a:hover {
    color: var(--color-blue);
}


.nav-links a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 8%;
    text-transform: uppercase;
    position: relative;
    transition: color 0.3s ease;
}

.nav-links a:before {
    content: '●';
    color: var(--color-blue);
    font-size: 1.5rem;
    position: absolute;
    left: -1.2rem;
    top: 40%;
    transform: translateY(-52%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-links a:hover:before {
    opacity: 1;
}



/* Flex setup for basedof bg */
.flex-bg {
    display: flex;

}

.flex-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.flex-righ {
    pointer-events: none;
    z-index: 800;
}

.flex-left {
    pointer-events: none;
    z-index: 800;
}


/*  MISC PAGES */
/* General Wrapper */
.exhibition-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 23vh;
}

/* Decorative SVG (Lander) */
.decorative-element {
    position: relative;
    width: 100%;
}

.lander-svg {
    height: 100%;
}

/* Ensure the wrapper exists and has space */
.button-wrapper {
    position: relative;
    width: 100%;
    max-width: 46vw;
    box-shadow: var(--box-shadow);
    border-radius: 2.3rem; 
}
.button-wrapper:active {
    transform: scale(0.95); /* Shrinks slightly when clicked */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Adjusted shadow */
}

/* Center the Button on top of the SVG */
.button-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-stroke: 3px var(--color-black);
    paint-order: stroke fill;
    color: var(--color-white);
    text-align: center;
    z-index: 200;
    text-decoration: none;
}

/* Ensure the small title is below */
.small-lander-title {
    font-size: 1.4rem;  /* Make  this whole thing disasspear on phones*/
    text-align: center;
    margin-top: 3rem;
    z-index: 200;
    text-transform: uppercase;
}

.date-bold {
    font-weight: bold;
}



/* Gallery Page */

.team ul{
    list-style: none
}

.header-section-gallery {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    text-align: left;
    align-items: baseline;
    margin-bottom: 1rem;
}

.header-section-gallery h1  {
    font-size: 3rem;
    line-height: 3rem;
    font-family: var(--font-regular);
    font-weight: bold;
}

/* Archive */
.featured-image-archive {
    position: relative;
    width: 100%;
    height: 30rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.featured-image-archive img {
    width: 99%;
    height: 99%;
    object-fit: cover;
    object-position: center;
    border-radius: 2rem;  
    border: 2px solid var(--color-black); 
}

.header-archive h1 {
    font-family: var(--font-main);
    font-size: 3rem;
    line-height: 1em;
    text-align: left;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 0.5px var(--color-black);
    text-transform: uppercase;
}
/* Blueprints */
.content-card-blue {
    width: 50%;
    max-width: 55rem;
    background-color: var(--color-black);
    box-shadow: var(--box-shadow);
    padding: 2vh 2rem 1.5rem 2rem;
    border-radius: 0 3rem 0 0;
    position: relative;
    margin: -4rem auto auto auto; /* The third one control the distance from the bottom */
    z-index: 900;
}
.artist-name-blue {
    font-family: var(--font-regular);
    font-size: 4rem;
    color: var(--color-white);
    line-height: 4rem;
    text-transform: uppercase;
}
.number-sequence-blue {
    display: flex;
    gap: 0.5rem;
    font-size: 1.4rem;
    font-family: var(--font-heading);
    font-weight: bold;
    color: var(--color-white);
    margin-bottom: 1rem;
}
.number-sequence-blue span {
    cursor: pointer;
    color: #929292;
}

.number-sequence-blue span.active {
    font-weight: bold;
    font-family: var(--font-regular);
    text-decoration: underline;
    color: #ffffff;
}
.featured-image-blue {
    position: relative;
    width: 100%;
    height: 60rem;
    margin-bottom: 1rem;
    overflow: hidden;
}
.featured-image-blue img {
    width: 99%;
    height: 99%;
    object-fit: cover;
    object-position: center;
    border-radius: 2rem;  
    border: 2px solid var(--color-black); 
}
.download {
    color: var(--color-white);
    text-decoration: underline;
    font-size: 1.2rem;
    padding-right: 2rem;
    text-align: right;
}
.content-card-blue .name-stars-wrapper .artist-stars {
    filter: invert(1);
}

/* Contacts */
/* Email Input Box Styled like the Black Button */
.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.input-box input {
    padding: 16px 24px;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 2rem;
    border-radius: 2rem;
    border: none;
    width: 36vw; /* Match the width of the black button */
    max-width: 36vw; /* Ensures it doesn't stretch too wide */
    box-sizing: border-box;
}

.input-box input::placeholder {
    color: var(--color-white);
}

.input-box input:focus {
    outline: none;
    border: 2px solid var(--color-blue); /* Blue border on focus */
}



.map {
    width: 100%;
    max-width: 50vw; 
    border: 1px var(--color-black); 
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.map iframe {
    width: 100%;
    height: 60vh; 
    border-radius: 3rem; 
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.content-section-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.2rem;
}
.header-section .gall-name {
    font-family: var(--font-main);
    font-size: 3.6em;
    line-height: 1em;
    text-align: right;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 0.5px var(--color-black);
    text-transform: uppercase;
}

.contact-title {
    font-size: 1.4em;
}


/* Exhibition List */
.list-container {
    list-style: none;
    padding: 0;
    /* margin: 0  2rem 0 2rem; Is not see  below the svg side deco */
    width: 100%;
}

.list-item {
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease, border 0.3s ease;
    padding: 4rem 0;
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
}

.list-item:hover {
    background-color: var(--color-black);
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
}

.list-link {
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: var(--color-black);
    font-weight: normal;
    font-size: 1.2rem;
    justify-content: center;
    position: relative;
    transition: color 0.3s ease;
}

.list-item:hover .list-link {
    color: var(--color-blue);
}

.bullet-point {
    color: transparent; 
    margin-right: 0.5rem;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.list-item:hover .bullet-point {
    color: var(--color-blue);
}
.black-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 2rem;
    border-radius: 2rem; 
    text-decoration: none;
    width: 36vw; 
    box-sizing: border-box; 
    margin: 2rem auto 2rem auto;
}
.black-button .arrow {
    width: 2.5rem; 
    height: auto;
}

.form-text p {
    font-size: 1.6rem;
    margin: 0 0 1rem 0;
}
.list-title::after {
    content: "\00a0/\00a0";
  }
  
  .list-artist::after {
    content: "\00a0/\00a0";
  }


.mobile-only {
    display: none;
  }

/* Mobile */

/* Mobile  Header */
@media (max-width: 768px) {
    .nav-links {
        display: none; /* Hide navigation links on mobile */
    }

    .ticker-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--color-black);
        color: var(--color-white);
        z-index: 1000;
        box-shadow: var(--box-shadow);
        padding: 0.5rem 0 0 0;
    }

    .ticker {
        display: flex;
        animation: marquee 30s linear infinite;

    }

    .item {
        display: inline-block;
        padding: 0 2rem;
        font-size: 1rem;
        color: var(--color-white);
        font-weight: bold;
        line-height: 2rem;
    }


    .main-nav {
        background: none;
        min-height: auto;
    }

    .logo-box {
        width: 5.6rem; /* Adjust logo size */
    }

    .logo-box img {
        z-index: 1100;
    }

/* Default for all browsers */
.overlay-text-left, 
.overlay-text-right {
    position: absolute;

    transform: translateY(-38%);
    font-size: 2.3rem;
    color: var(--color-blue);
    -webkit-text-stroke: 0.3px var(--color-black);
    white-space: nowrap;
    z-index: 1300;
}

/* Target iOS Safari */
@supports (-webkit-touch-callout: none) {
    .overlay-text-left, 
    .overlay-text-right {
        top: 30%; /* Use top-based positioning for iOS */
        transform: none; /* Disable transform */
    }
}

/* Individual alignment */
.overlay-text-left { left: 5%; text-align: left; }
.overlay-text-right { right: 5%; text-align: right; }

    
    
    
 /* Mobile Sides */

.side-bar {
    display: none;
}

.side-white-bar {
    display: none;
}

/* Hide/Show Index Lander on screen size */

    .lander-svg,
    .button-title,
    .small-lander-title {
        display: none;
    }

    main {
        margin-bottom: 1rem;
    }
    .mobile-only {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }

    /* Style the nav buttons to match the image */
    .nav-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70vw;
        padding: 1.5rem;
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 1.5rem;
        text-decoration: none;
        text-align: center;
        border: 2px solid var(--color-black);
        color: var(--color-black);
        background-color: var(--color-white);
        box-shadow: var(--box-shadow);
    }

    .exhibition-wrapper {
        margin-top: 10vh;
    }


    /* mobile  exhibtion list */
    .list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        gap: 0.8rem;
        margin-bottom: 3rem;
    }

    .list-item {
        width: 80vw;
        background-color: var(--color-white);
        border-radius: 1rem;
        box-shadow: var(--box-shadow);
        padding: 1rem;
        text-align: center;
    }

    .list-item:first-child {
        background-color: var(--color-blue);
        color: var(--color-white);
        font-weight: bold;
        padding: 1.5rem 1rem 1.5rem 1rem;
        margin: 2rem 0 0 0;
    }

    .list-item:hover {
        transform: scale(1.02);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    }

    .list-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        color: var(--color-black);
    }

    .list-item:first-child .list-link {
        color: var(--color-white);
    }

    .list-title {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 1000;
        font-family: var(--font-heading);
    }


    .list-artist {
        font-size: 1.2rem;
        font-family: var(--font-heading);
    }

    .list-dates {
        font-size: 1.2rem;
        font-family: var(--font-heading);
    }

    .bullet-point {
        display: none;
    }
    
    /* Remove / for mobile */
    .list-title::after {
        content: "\00a0";
      }
      
      .list-artist::after {
        content: "\00a0";
      }


/* Contacts Mobile*/

.input-box input {

}

.gall-name {
    display: none;
}

.team {
    padding-right: 3rem;
    text-align: left;
}

.header-section h1 {
        font-size: 3rem;
}

.map {
    max-width: 80vw;
    margin: 0 auto; /* Centers the map */
}

.form-text p {
    font-size: 1.2rem;
}

.content-section-contacts  {
    font-size: 1.2rem;
    padding-left: 0;
    padding-right: 0;
}

.input-box input,
    .black-button {
        width: 80vw;  /* Ensuring both have the same width */
        max-width: 80vw;
        padding: 1.5rem; /* Making them the same height */
        font-size: 1.6rem; /* Adjusting font size for consistency */
    }


/* Mobile Archive */
.featured-image-archive {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
    overflow: hidden;
}
.featured-image-archive img {
    height: auto;
}
.header-archive h1 {
    font-size: 3.6rem;
    hyphens: none;
}

/* Gallery Mobile */

.header-section-gallery {
    max-width: 80vw;
}

.header-section-gallery h1 {
    font-size: 3.6rem;
    }
}
