{{ define "main" }}
    <div class="exhibition-title">{{ .Title }}&nbsp;/&nbsp;{{ .Params.artist }}</div>

    <div class="content-card">
        <div class="header-section">
            <div class="header-archive">
                <h1>{{ .Title }}</h1>
            </div>
        </div>

        <!-- Number sequence under title with data-src -->
        <div class="number-sequence" id="image-selector">
            {{ $counter := 1 }}
            {{ range $index, $file := (.Resources.ByType "image") }}
                <span data-src="{{ $file.RelPermalink }}">{{ printf "%02d" $counter }}</span>
                {{ $counter = add $counter 1 }}
            {{ end }}
        </div>

        <!-- Image Section -->
        <div class="featured-image-archive">
            <img id="main-image" src="{{ with (.Resources.ByType "image").Get 0 }}{{ .RelPermalink }}{{ end }}" alt="{{ .Title }}" />
        </div>

        <!-- Exhibition Content -->
        <div class="content-section">
            {{ .Content }}

            <!-- Artist Section -->
            <div class="artist-section">
                <div class="name-stars-wrapper">
                    <h2 class="artist-name">{{ .Params.artist }}</h2>
                    <div class="artist-stars">
                        <img src="{{ "ui/star.svg" | relURL }}" alt="Lira Stat" />
                        <img src="{{ "ui/star.svg" | relURL }}" alt="Lira Stat" />
                        <img src="{{ "ui/star.svg" | relURL }}" alt="Lira Stat" />
                    </div>
                </div>
                <div class="bio">{{ .Params.bio }}</div>

                <a href="#" class="black-button">
                    ЧЕРТЕЖИ 
                    <img src="{{ "ui/arrow.svg" | relURL }}" alt="Arrow" class="arrow">
                </a>
                
                
                
            </div>
        </div>
    </div>

    {{- partial "footer.html" . -}}

    <script src="{{ "js/image-gallery.js" | relURL }}"></script>
{{ end }}
