{{ define "main" }}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LandmarksOrHistoricalBuildings",
      "name": "{{ .Title }}",
      "url": "{{ .RelPermalink }}",
      "description": "{{ .Summary }}",
      "image": [
        {{ $images := slice }}
        {{ range .Resources.ByType "image" }}
          {{ $images = $images | append .RelPermalink }}
        {{ end }}
        {{ if gt (len $images) 0 }}
        {{ range $index, $file := $images }}
        "{{ $file }}"{{ if lt $index (sub (len $images) 1) }},{{ end }}
        {{ end }}
        {{ end }}
      ],
      "location": {
        "@type": "Place",
        "name": "Lira Gallery",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "123 Gallery St",
          "addressLocality": "Your City",
          "postalCode": "1000",
          "addressCountry": "BG"
        },
        "hasMap": "https://www.google.com/maps/place/Your+Gallery+Location"
      },
      "architect": {
        "@type": "Person",
        "name": "Иван Петров"
      },
      "dateCreated": "{{ .Params.datebuilt }}",
      "containedInPlace": {
        "@type": "ArtGallery",
        "name": "Lira Gallery",
        "url": "{{ .Site.BaseURL }}"
      }
    }
    </script>
    
    <div class="exhibition-title">{{ .Title }}&nbsp;/&nbsp;{{ .Params.artist }}</div>
    <a href="{{ "/" | relURL }}" class="back-button">Назад</a>

    <div class="content-card">

            <div class="header-archive">
                <h1>{{ .Title }}</h1>
            </div>

        <!-- Number sequence under title with data-src -->
        <div class="number-sequence" id="image-selector">
            {{ $counter := 1 }}
            {{ range $index, $file := (.Resources.ByType "image") }}
                <span data-src="{{ $file.RelPermalink }}">{{ printf "%02d" $counter }}</span>
                {{ $counter = add $counter 1 }}
            {{ end }}
        </div>

        <!-- Image Section -->
        <div class="featured-image-archive">
            <img id="main-image" src="{{ with (.Resources.ByType "image").Get 0 }}{{ .RelPermalink }}{{ end }}" alt="{{ .Title }}" />
        </div>

        <!-- Exhibition Content -->
        <div class="content-section">
            {{ .Content }}

            <!-- Artist Section -->
            <div class="artist-section">
                <div class="name-stars-wrapper">
                    <h2 class="artist-name">{{ .Params.artist }}</h2>
                    <div class="artist-stars">
                        <img src="{{ "ui/star.svg" | relURL }}" alt="Lira Stat" />
                        <img src="{{ "ui/star.svg" | relURL }}" alt="Lira Stat" />
                        <img src="{{ "ui/star.svg" | relURL }}" alt="Lira Stat" />
                    </div>
                </div>
                <div class="bio">{{ .Params.bio }}</div>

                <a href="{{ "/archive/blueprints/" | relURL }}" class="black-button">
                    ЧЕРТЕЖИ 
                    <img src="{{ "ui/arrow.svg" | relURL }}" alt="Arrow" class="arrow">
                </a>
    
            </div>
        </div>
    </div>

    {{- partial "footer.html" . -}}

    <script src="{{ "js/image-gallery.js" | relURL }}"></script>
{{ end }}
