<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body>
    <div class="page-layout">
    {{- partial "header.html" . -}}

      <!-- Flex container for  background -->
      <div class="flex-bg">

      <!-- Left side decorations container-->
        <div class="flex-left">
          <div class="side-deco left">
            <img src="{{ "ui/side-deco.svg" | relURL }}" alt="Left Decoration" />
          </div>

          <div class="side-bar left"></div>
          <div class="side-white-bar left"></div>
        </div>
        <!-- Main content -->
        <div class="flex-main">
        <div class="main-container">
          <main>
            {{- block "main" . }}{{- end }}

          </main>

        </div>
      </div>

        <!-- Right side decorations -->
          <div class="flex-right">
            <div class="side-deco right">
              <img src="{{ "ui/side-deco.svg" | relURL }}" alt="Right Decoration" />
            </div>

            <div class="side-bar right"></div>
            <div class="side-white-bar right"></div>
          </div>

        </div>

    </div>
    <script src="/js/time.js"></script>
    <script src="/js/screensaver.js"></script>
  </body>
</html>
