{{ define "main" }}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ContactPage",
      "name": "{{ .Title }}",
      "url": "{{ .RelPermalink }}",
      "mainEntity": {
        "@type": "ArtGallery",
        "name": "Галерия Лира",
        "url": "{{ .Site.BaseURL }}",
        "description": "Галерия Лира е културно пространство, представящо съвременно изкуство.",
        "image": "{{ "images/lira-3D.gif" | relURL }}",
        "logo": "{{ "ui/logo.png" | relURL }}",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "ул. Ген. Гурко 45",
          "addressLocality": "София",
          "postalCode": "1000",
          "addressCountry": "BG"
        },
        "email": "info@yourgallery.com",
        "telephone": "+359 123 456 789",
        "openingHours": "Mo-Su 00:00-23:59",
        "hasMap": "https://www.google.com/maps/place/Sofia+Center,+General+Gurko+St+45,+1000+Sofia",
        "contactPoint": {
          "@type": "ContactPoint",
          "contactType": "customer service",
          "email": "info@yourgallery.com",
          "telephone": "+359 123 456 789",
          "availableLanguage": ["Bulgarian", "English"]
        }
      }
    }
</script>

<div class="exhibition-title">{{ .Title }}&nbsp;/&nbsp;{{ .Params.artist }}</div>
<a href="{{ "/" | relURL }}" class="back-button">Назад</a>

<div class="content-card">
    <div class="header-section">
        <div class="contact-title"><h1>{{ .Title }}</h1></div>
        <div class="gall-name">Галерия</br>Лира</div>
    </div>
    <!-- Page Content -->
    <div class="content-section-contacts">
        {{ .Content }}
    </div>

    <!-- Map Section -->
    <div class="map">
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2932.6081451183163!2d23.327651975175886!3d42.6908422141409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa857497c8e23d%3A0x2d68d5abfab32261!2sSofia%20Center%2C%20General%20Gurko%20St%2045%2C%201000%20Sofia!5e0!3m2!1sen!2sbg!4v1739699496464!5m2!1sen!2sbg" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    <br>

    <div class="form-text">
        <p>Попълнете вашият e-mail, за да получавате месечния бюлетин на галерия „Лира“</p>
    </div>

    <!-- Netlify Form -->
    <form name="newsletter" method="POST" netlify netlify-honeypot="bot-field">
      <input type="hidden" name="form-name" value="newsletter">
      
      <!-- Spam protection (hidden) -->
      <p style="display: none;">
          <label>Don’t fill this out if you're human: 
              <input name="bot-field">
          </label>
      </p>
  
      <!-- Email Input Field -->
      <div class="input-box">
          <input type="email" id="email-input" placeholder="Вашият e-mail" name="email" required>
      </div>
  
      <!-- Submit Button -->
      <button type="submit" class="black-button">
          Запишете се 
          <img src="{{ "ui/arrow.svg" | relURL }}" alt="Arrow" class="arrow">
      </button>
  </form>
  

</div>

{{- partial "footer.html" . -}}

{{ end }}
