{{ define "main" }}
    <div class="exhibition-title">{{ .Title }}&nbsp;/&nbsp;{{ .Params.artist }}</div>

    <div class="content-card">
        <div class="header-section-gallery">
            <h1>{{ .Title }}</h1>
        </div>

        <!-- Image Section -->
        <div class="featured-image">
            <img src="{{ "images/lira-3D.gif" | relURL }}" alt="Decorative Overlay" />
        </div>

        <!-- Exhibition Content -->
        <div class="content-section">
            {{ .Content }}

            <!-- Artist Section -->
            <div class="artist-section">
                <div class="name-stars-wrapper">
                    <div class="artist-name">{{ .Params.artist }}</div>
                    <div class="artist-circles">
                        <img src="{{ "ui/circles.svg" | relURL }}" alt="Lira Circles" />
                    </div>
                </div>
                <div class="team">
                    <ul>
                        {{ range .Params.team }}
                            <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </div>
                {{/*  make this into a list  */}}
            </div>
        </div>
    </div>

    {{- partial "footer.html" . -}}


{{ end }}
