<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{{ "/hyphenopoly/Hyphenopoly_Loader.js" | relURL }}"></script>
    <script>
      Hyphenopoly.config({
          require: {
              "bg": "FORCEHYPHENOPOLY"
          },
          paths: {
              patterndir: "{{ "hyphenopoly/" | absURL }}",
              maindir: "{{ "hyphenopoly/" | absURL }}"
          },
          setup: {
              selectors: [".content-card"]
          }
      });
  </script>
  


    <link rel="stylesheet" href="{{ "css/base.css" | relURL }}">  
    <link rel="stylesheet" href="{{ "css/side-bars.css" | relURL }}">  
    <link rel="stylesheet" href="{{ "css/footer.css" | relURL }}">  
    <link rel="stylesheet" href="{{ "css/single.css" | relURL }}">  
    <title> {{ .Site.Title }} </title>

  </head>